<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/login.css">
  <title>Break Bank - Login</title>
</head>

<body>
  <div class="flex-container">
    <img src="../../img/background.png" alt="Break Bank" />
    <div class="flex-container-form">
      <form action="#" name="login">
        <label for="">E-mail</label>
        <input type="email" required><br />
        <label for="">Senha</label>
        <input type="password" required><br />

        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>

  <script src="../../js/login.js"></script>
</body>

</html>