<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/login.css">
  <title>Break Bank - Login</title>
</head>

<body class="breakBankImage">
  <div class="flex-container">
    <div class="flex-container-form">
      <form action="#" name="login">
        <label for="name">Nome</label>
        <input type="text" required name="name"><br />
        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>

  <script src="../../js/login.js"></script>
</body>

</html>